.container1 {
    overflow: hidden; /* This is crucial for hiding overflowing content */
    display: flex; /* Use flexbox for easier layout */
    margin: 30px auto;
}

.container1 .brands_list {
    display: flex;
    animation: marquee 10s linear infinite; /* Increased duration for smoother animation */
    transition: transform 0.5s ease-in-out; /* Add a smooth transition */
}

.brands_list {
    justify-content: space-around; /* Keep this for spacing */
    white-space: nowrap; /* Prevent line breaks */
}

.brands_list img {
    width: 20%;
    margin: 22px;
}

@keyframes marquee {
    0% {
        transform: translateX(0%); /* Start offscreen to the right */
    }
    100% {
        transform: translateX(-100%); /* End offscreen to the left */
    }
}