.container1 {
    overflow: hidden;
    display: flex;
    margin: 30px auto;
}

.container1 .brands_list {
    display: flex;
    animation: marquee 10s linear infinite;
    transition: transform 0.5s ease-in-out;
}

.brands_list {
    justify-content: space-around;
    white-space: nowrap;
}

.brands_list img {
    width: 20%;
    margin: 22px;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}