.header {
    padding: 20px 0 20px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 3;
   
}

.header_row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    align-items: center;
    display: flex;
    column-gap: 13px;
    width: 50px;


}
.header_logo span {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: black;
    text-transform: uppercase;
}

.header_nav {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.header_nav ul {
    display: flex;
    column-gap: 60px;
    align-items: center;
}
.header_nav a {
    color: var(--textColor);
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px; 
	background-color: #000000;
	content: "";
	transition: width 0.3s ease-out;
}

.a:hover:after,
.a:focus:after {
	width: 100%;
}